<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
	<section>
<!--		<h1>Index Page</h1>   -->
		<div class="bg-image"
    style="background-image: url('https://projectsly.com/images/task-management-system-screenshot-1.png?v=1691124479409199525');
           height: 100vh;
           background-repeat: no-repeat;
           background-size: cover;">
           
           

	</section>

</body>
</html>