<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
 
<body>
	
	<nav th:fragment= "header" class="navbar navbar-expand-lg navbar-dark" style="background-color: black; color: white;">
  <a class="navbar-brand">Task Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
  
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item active">
        <a class="nav-link" href="/admin/profile">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/projects">Project </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/departments">Department </a>
      </li>  
    </ul>
    
    <form th:action="@{/searchEmployee}" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" name= "keyword" id = "keyword" type="text" placeholder="Search" aria-label="Search" th:value="${keyword}">
        <input class="btn btn-outline-success active my-2 my-sm-0" type="submit" value="Search" />
    </form>
    
    
     </div>
</nav>

    <div class="container my-5">
        <h3>Update Project</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/update-project/{id}(id=${project.id})}" th:object="${project}" method="post">
                        <div class="row">
                            
                            <div class="form-group col-md-8">
                                <label for="name" class="col-form-label">Project Name</label> 
                                <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Author Name" />
                            </div>

                             <div class="form-group col-md-8">
                                <label for="description" class="col-form-label">Description</label> 
                                <input type="text" th:field="*{description}" class="form-control" id="description" placeholder="Description" />
                            </div>
                            
                            <div class="form-group col-md-8">
                                <label for="requirement" class="col-form-label">Requirement</label> 
                                <input type="text" th:field="*{requirement}" class="form-control" id="requirement" placeholder="Requirement" />
                            </div>
 
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value=" Submit ">
                            </div>
     
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
 
</html>